.red-box {
    background-color: crimson;
    padding-top: 5px;
    padding-right: 1px;
    padding-bottom: 5px;
    padding-left: 1px;
    margin-left: 160px;
    margin-right: 160px;
    border-style: dashed;
    border-color: black;
    border-radius: 20px;
    }


body {background-color: cyan;
text-align: center;
} 

h1 {color:rgb(107, 4, 4);
font-family:cursive;
font-size: 300%;
}

.black-background {
    background-color: black; 
    margin-left: 250px; 
    margin-right: 250px; 
    padding-bottom: 20px;
    padding-top: 20px;
     border-radius: 20px;
    }

#banner {
    margin-left: 480px;
    margin-right:480px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
div {
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.849), 0 6px 6px rgba(212, 33, 33, 0.23);


}
.inner {
    box-shadow: 0 3px 6px rgba(245, 19, 19, 0.849), 0 6px 6px rgba(14, 1, 1, 0.747);
}

a {
    font-weight: bold;
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(201, 197, 8);
}

#navbar {
    position: fixed;
        top: 0px;
        left: 0px;
    float: left;
    padding: 15px;
}